<ng-template appPlaceholder></ng-template>
<div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <div class="form-control">
      <label for="username">Username: </label>
      <input
        id="username"
        ngModel
        name="username"
        required
        username
      />
    </div>
    <div class="form-control">
      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        ngModel
        name="password"
        required
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W)[A-Za-z\d@$!%*#?&]{8,}"
      />
    </div>
    <div class="form-control">
      <button
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
      </button>
      |
      <button (click)="onSwitchMode()" type="button">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
      </button>
    </div>
  </form>
</div>
