<div class="wrap-auth">
  <div class="wrap-auth-content">
    <div class="page-title">
      Heroes Company
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="form" *ngIf="!isLoading">
      <div class="form-title">
        {{isLoginMode?'Login To Heroes Company': 'SignUp To Heroes Comapny'}}
      </div>
      <div *ngIf="this.error" class="errorMsg">
        {{this.error}}
      </div>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <input
            id="username"
            placeholder="username"
            name="username"
            class="form-input"
            formControlName="username"
            [ngClass]="{'errorField':username.touched && username.errors}"
            (focus)="username.errors?null:username.markAsUntouched()"
          />
          <div *ngIf="username.touched && username.errors" class="errorMsg">
            <span *ngIf="username.errors.required">username is required</span>
          </div>
        </div>
        <div class="form-control">
          <input
            type="password"
            id="password"
            placeholder="password"
            class="form-input"
            name="password"
            formControlName="password"
            [ngClass]="{'errorField':password.touched && password.errors}"
            (focus)="password.errors? null:password.markAsUntouched()"
          />
          <div *ngIf="password.touched && password.errors" class="errorMsg">
            <span *ngIf="password.errors.required">password is required</span>
            <span *ngIf="password.errors.pattern">password must contains 8 charts with: 1 capital letter, 1 digit and one none-alphanumeric char</span>
          </div>
        </div>
        <div class="form-control">
          <button
            type="submit"
            class="form-button"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
        </div>
        <div class="form-control">
          <button class="form-button switchButton" (click)="onSwitchMode()" type="button">
            {{isLoginMode ? 'Create New Account' : 'Switch To Login'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
