.header{
  width: 100%;
  padding: .6rem;
  background-color:  #be3b3b;
}
.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap-body{
  width: 100%;
  height: 100%;
  overflow: auto;
}
