.datePicker{
  box-sizing: border-box;
  display: table;
  padding: 0;
  border: 1px solid #dadce0;
  width: fit-content;
  border-radius: 5px;
  border-collapse: collapse;
}
mbsc-input{
  margin: 0 !important;
  padding: 0 !important;
  display: table-cell;
}
::ng-deep .datePicker span{
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep .datePicker mbsc-input:last-child span::before{
  font: 400 14px/20px Roboto,Arial,sans-serif !important;
  letter-spacing: .2px;
  color: #5f6368;
  background-color: #dadce0;
  bottom: 13px;
  content: '';
  position: absolute;
  top: 13px;
  width: 1px;
  /* z-index: 0; */
}
::ng-deep .datePicker input{
  border-color: transparent  !important;
  padding: 25px !important;
  margin: 0 !important;
  outline: 0;
  z-index: -22;
}

::ng-deep .datePicker input:hover{
  border: 1px black solid !important;
}
.control-styles {
  margin: 0 auto;
  width:300px;
  padding-top: 25px
}
