.header-nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.profile-icon{
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}
.header-nameHero{
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.auth-link{
  color:#fff;
  font-size: 1.1rem;
}
